<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Discuss!</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  </head>

  <body>
    <nav class="teal lighten-2">
      <div class="nav-wrapper">
        <div class="container">
          <a href="/" class="brand-logo">Discuss</a>
        </div>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/">Login</a></li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <%= render DiscussWeb.SharedView, "_banner.html", assigns %>
      <div  class="row"></div>
      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
