<ul class="collection with-header">
  <li class="collection-header"><h4>Topics</h4></li>
  <%= for topic <- @topics do %>
    <%= link to: topic_path(@conn, :edit, topic), class: "collection-item" do %>
      <li><%= topic.title %></li>
    <% end%>
  <% end %>
</ul>

<div class="fixed-action-btn">
  <%= link to: topic_path(@conn, :new), class: "btn-floating btn-large waves-effect waves-light red" do %>
    <i class="material-icons">add</i>
  <% end %>
</div>
