<ul class="collection with-header">
  <li class="collection-header"><h4>Topics</h4></li>
  <%= for topic <- @topics do %>
    <a href="#!" class="collection-item"><li><%= topic.title %></li></a>
  <% end %>
</ul>

<div class="fixed-action-btn">
  <%= link to: topic_path(@conn, :new), class: "btn-floating btn-large waves-effect waves-light red" do %>
    <i class="material-icons">add</i>
  <% end %>
</div>
